body {
    margin: 0;
    padding-left: 88px;
    padding-right: 88px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.browse-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* grid-gap: 22px; */
    grid-template-areas:
        " header "
        " nav "
        " profile-container "
        "error-space"
        " footer ";
    align-content: center;
    text-align: center;
}

.header {
    grid-area: header;
    border: #ca02f6 solid 5px;
}

.nav {
    grid-area: nav;
    margin: 0;
    height: 22px;
    background-color: #ffffff;
    border: rgb(202, 2, 246) solid 5px;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.nav a:hover {
    font-size: 18px;
    background-color: rgb(202, 2, 246);
    height: 50px;
    padding: 10px;
    text-align: center;
}

.img {
    border: rgb(202, 2, 246) solid 7px;
    border-radius: 11%;
}

ul li a {
    text-decoration: none;
    /* color: #ffffff; */
    font-size: 16px;
    transition: font-size 0.2s ease, color 0.2s ease;
}


.resource-container {
    display: grid;
    /* background-color: #3f163f87; */
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 11px;
    grid-template-areas:
        "resource-image resource-field";
    text-align: center;
    padding-bottom: 11px;
}

.resource-image {
    grid-area: "resource-image";
    /* background-color: blueviolet; */
    display: grid;
    padding: 11px;
    /* border: rgb(202, 2, 246) solid 11px; */
    align-content: center;
}

.img {
    border: rgb(202, 2, 246) solid 7px;
    border-radius: 11%;
}

.resource-field {
    grid-area: "resource-field";
    /* background-color: rgb(38, 90, 120); */
    /* height: 200px; */
}

.error-space {
    grid-area: error-space;
    border: 3px solid #aa5042;
    padding: 25px;
    text-align: center;
}

.card {
    /* margin: 0 auto;
    padding: 25px; */
    text-align: center;
    width: 100%;
  }
  
  .card img {
    border: rgb(202, 2, 246) solid 7px;
    border-radius: 11%;
    margin-bottom: 5px;
    width: 25%;
  }

.img:hover {
    font-size: 18px;
    color: rgb(202, 2, 246);
}

.footer {
    grid-area: footer;
}